{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Login" %}
{% endblock head_title %}
{% block content %}
    <h1>Login</h1>
    <p>
        If you have not created an account yet, then please
    <a href="{% url 'account_signup' %}?next={% url 'profile-onboarding' %}">sign up</a> first.
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Sign In" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% load socialaccount %}
        <a href="{% provider_login_url 'google' next='/profile/settings/' %}"
        class="flex items-center justify-center gap-2 w-full px-4 py-2 border border-gray-300 rounded-lg bg-white text-gray-700 font-medium shadow-sm hover:bg-gray-50 transition">
        <img src="https://developers.google.com/identity/images/g-logo.png" 
                alt="Google logo" 
                class="w-5 h-5">
        <span>Continue with Google</span>
        </a>
    {% endif %}
{% endblock content %}
